<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button >
        <ion-back-button
                icon="chevron-back-outline"
                text=""
                class="btn-previous"
                defaultHref="tabs/session/goal">
        </ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center page-title">Description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form (ngSubmit)="saveAndSend()" [formGroup]="descriptionForm">
      <ion-grid>

        <div class="choices">
          <ion-badge class="choice__item" *ngFor="let choice of choices" color="primary">
            {{ choice }}
          </ion-badge>
        </div>

        <ion-row>
          <ion-col size="12">
            <ion-textarea
                    formControlName="description"
                    clearOnEdit="true"
            >Description</ion-textarea>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button
                    expand="full"
                    type="submit"
            >VALIDER</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
