<ion-content>
    <div class="container">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="img-container">
                    <ion-img class="logo" src="assets/logo/desktop_blue.svg"></ion-img>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div class="message-container">
                    <span class="message">
                        Bienvenue et merci de ton inscription sur GameBridge ! <br>
                        Dernière étape: choisis ton pseudo !
                    </span>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button (click)="openNextPage()"
                            class="btn-next-page"
                            expand="block"
                            shape="round">

                    C'est parti !
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    </div>
</ion-content>
