.desktop {
  height: 80px;

  ion-router-outlet{ margin-top: 56px;}

  ion-toolbar{ --background: var(--ion-background-color);}

  .link { --color: var(--ion-color-light);}

  .active-link { --color-link: var(--ion-color-primary);}
}
