<ion-tabs *ngIf="!isDesktop">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homepage">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="session/game">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Session</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<div *ngIf="isDesktop" class="desktop">
  <ion-header class="header-desktop ion-no-border">
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <img src="../../../assets/logo/desktop_blue.svg" alt="Logo Gamebridge" class="logo ion-text-left" routerLink="/tabs/homepage">
        </ion-col>
        <ion-col size="8">
          <div class="navbar ion-text-center">
            <ion-button
                    fill="clear"
                    routerLink="/tabs/homepage"
                    routerDirection="root"
                    routerLinkActive="active-link">
              Accueil
            </ion-button>
            <ion-button
                    fill="clear"
                    routerLink="/tabs/session/game"
                    routerDirection="root"
                    routerLinkActive="active-link">
              Créer une session
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="2" class="ion-text-right">
          <ion-button
                  fill="clear"
                  routerLink="/tabs/profile"
                  routerDirection="root"
                  routerLinkActive="active-link"
                  class="ion-align-items-end">
            <ion-icon slot="icon-only" name="person-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet class="desktop-wrapper"></ion-router-outlet>
</div>

