<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button >
        <ion-back-button
                icon="chevron-back-outline"
                text=""
                class="btn-previous"
                defaultHref="tabs/session/game">
        </ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center page-title">Date</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form (ngSubmit)="saveAndNextStep()" [formGroup]="dateForm">
      <ion-grid>

        <div class="choices">
          <ion-badge class="choice__item" *ngFor="let choice of choices" color="primary">
            {{ choice }}
          </ion-badge>
        </div>

        <ion-row>
          <ion-col size="12">
            <ion-list>
              <ion-radio-group value="now" formControlName="date">
                <ion-list-header>
                  <ion-label>Pour quand ?</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label>Maintenant</ion-label>
                  <ion-radio slot="start"  value="now" ></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Future date</ion-label>
                  <ion-radio slot="start" value="future"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row class="datePickerRow" *ngIf="dateForm.value.date === 'future'">
          <ion-col size="12">
            <ion-item>
              <ion-label>Pour quel jour... ?</ion-label>
              <ion-datetime formControlName="datePicker" displayFormat="D MMM YYYY H:mm" min="2021" max="2021" value="2021-08-30T09:00Z"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button
                    expand="full"
                    type="submit"
                    [disabled]="!dateForm.valid"
            >Suivant</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>



